.projects {padding: 0;}
.projects_li {display: block; 
              padding: 10px; margin: 10px 10px 10px 0; 
              cursor: pointer;
              background: orange;}
.projects_li.active {background: green;}
.projects_li:hover {background: #38bc5b;}
.projects_li:hover.active {background: green;}

.todos {position: relative;}
.todos_add-new {position: absolute;
                top: 70px; left: 0;
                visibility: hidden;
                padding: 10px 10px 0 10px; 
                background: orange; z-index: 100;}
.todos_add-new_warning {color: red; 
                        display: none;}
.todos_list {position: relative; list-style: none;}
.todos_list_ul {list-style: none;
                padding: 0;}
.todos_list_move {display: none;
                  position: absolute; 
                  top: 0; left: 0;
                  width: 250px; height: 10                                                                                                                                                                                                                                                                                                                                                                                                                                                  0px;
                  padding: 10px; 
                  background: orange;}

.todos_li_name {display: inline;}
.todos_li_time {display: inline; font-weight: bold; font-size: 80%; color: grey;}
.todos_li_delete {background: orange; 
                margin: 2px 5px; 
                cursor: pointer;}
.todo_li_more {display: inline;
               position: relative;}
.todo_li_more_link {cursor: pointer;
                    font-size: 20px;}
.todo_li_more_options {display: none;
                       z-index: 10;
                       position: absolute;
                       top: 0; left: 0;
                       width: 200px;
                       padding: 5px 10px;
                       background: orange;}
.todo_li_more_options_list {padding: 0;
                            list-style-type: none;}
.todo_li_more_options_item {padding: 5px 0;
                            font-weight: bold;
                            cursor: pointer;}
.todo_li_more_options_item:hover {color: green;}


.week_title {display: inline-block; 
            width: 33%;
            cursor: pointer;}
.week_title:hover, .week_title.active {color: green;}
.table_week {width: 80%;}
.table_week_day {padding: 5px; margin-bottom: 5px;}
.table_week_day.after {background: green;}
.table_week_day.active {background: orange;}
.table_week_day.before {background: #c6ce9f;}
.table_week_day_name {display: inline-block;}
.table_week_todos { padding: 0 10px;
                    border: 1px solid black; 
                    min-height: 150px;}
.table_week_todos_list {list-style: none; padding: 0;}
